<h1> Lista de ocasiões </h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">Sintoma</th>
      <th class="text-center">Data e hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= evento.sintoma %></td>
        <td><%= evento.created_at.strftime("%d/%m/%Y %H:%M") %>  </td>
        <td class="text-center"><%= link_to 'Mostrar', evento, class: 'btn btn-primary btn-sm active' %></td>
        <td class="text-center"><%= link_to 'Editar', edit_evento_path(evento), class: 'btn btn-default btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Evento', new_evento_path, class: 'btn btn-primary active' %>

<div class="table">
  <%= paginate(@eventos) %>
</div>

